/.ipynb_checkpoints
dsc-phase-1-project-v2-4-master/.canvas
.DS_Store
__pycache__
*.pytest_cache
!*.zip
/.gitattributes
/.gitattributes.swp
/dsc-phase-1-project-v2-4-master/.ipynb_checkpoints
/dsc-phase-1-project-v2-4-master/.canvas
/dsc-phase-1-project-v2-4-master/zippedData